.group-list {
    background-color: var(--vscode-body-foreground);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    cursor: 'pointer';
    border-bottom: 1px solid #404040;
    overflow-wrap: break-word;
}

.group-list-selected {
    background-color: #2d98fc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    cursor: 'pointer';
    border-bottom: 1px solid #404040;
    overflow-wrap: break-word;
}

.group-list:hover {
    background-color: #2d98fc;
}